*/bin/*
*/obj/*
ConsoleApp1.sln
.vscode/settings.json
*/wwwroot/lib/*
*/wwwroot/favicon.ico
*/wwwroot/css/*
*/wwwroot/lib/*

temp/
UpgradeLog.htm
.vs/
*.db-shm
*.db-wal

*/node_modules/*

AngularApp/ClientApp/.angular/cache/
